.git
.agents
.codex
.venv
__pycache__
*.pyc
*.log
.env
credenciais_google.json
historico_monitoramento.json

backend/node_modules
backend/dist
backend/coverage
backend/.env

frontend/node_modules
frontend/dist

path
