# Processamento de imagens e OCR
opencv-python
pillow
pytesseract
numpy
scikit-learn

# Google APIs
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-generativeai

# Processamento de PDF
PyMuPDF
pdf2image

# Utilitários
requests

#Variável de ambiente
python-dotenv